
#root{
  background: linear-gradient(to right, rgb(45,169,219), rgb(209, 20, 105) );
  min-height: 100vh;
}
.app-wrapper{
  display: grid;
  grid-template-areas: 
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  max-width: 1200px;
  min-height: calc(100vh - 20px);
  margin: 0 auto;
  padding: 10px;
  /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(96, 0, 121) ) */
}
a{
  text-decoration: none;
}
.app_wrapper_content {
  grid-area: content;
  /* background: rgba(253, 247, 158, 0.534);
  padding: 10px; */
  /* background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid #39CBFB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px; */
}
div {
  color: #fff;
}

.block-style{
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid #39CBFB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}